[Unit]
Description=Nginx Demo Container
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/podman run --rm --name nginx-demo \
  -p 8081:80 \
  -v /var/www/nginx:/usr/share/nginx/html:ro \
  registry.k8s.io/nginx-slim:0.8
ExecStop=/usr/bin/podman stop nginx-demo
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
