[Container]
# Demo version tags: docker.io/mmumshad/simple-webapp-color:latest (current), docker.io/mmumshad/simple-webapp-color:alpine (rollback option)
Image=docker.io/mmumshad/simple-webapp-color:latest
ContainerName=simple-webapp
PublishPort=9090:8080
Environment=APP_COLOR=blue
Environment=APP_NAME=GitOps Demo App

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
