[Unit]
Description=Simple Web App Container
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/podman run --rm --name simple-webapp \
  -p 9090:8080 \
  -e APP_COLOR=blue \
  -e APP_NAME="GitOps Demo App" \
  docker.io/mmumshad/simple-webapp-color:latest
ExecStop=/usr/bin/podman stop simple-webapp
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
